---
title: Home
---

<% if false %>
<% sorted_articles.slice(0,1).each do |post| %>
  <div class='post'>
    <h1><%= link_to post[:title], post.path %></h1>
    <aside><%= get_pretty_date(post) %></aside>
    <article>
      <%= post.compiled_content %>
    </article>
    <p><%= link_to "Comments", post.path + "#disqus_thread" %></p>
  </div>
<% end %>

<hr>

<h1>Past Posts</h1>
<table class='post-list'>
  <% sorted_articles.slice(1,5).each do |post| %>
  <tr class='post-list-item'>
    <td class='post-list-item-date'><%= get_short_date(post) %></td>
    <td class='post-list-item-title'><%= link_to post[:title], post.path %></td>
  </tr>
  <% end %>
</table>
<p><a href="/blog/">See more past posts</a></p>
<% end %>

